/*=======================================================================
[02] Common Area Responsive Start Hear
=========================================================================*/

@media only screen and (max-width: 991px) {
    .section-space   {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    h1{
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
    h2{
        font-size: 1.75rem;
        line-height: 2.12rem;
    }
    h4 {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
    }
    p br{
        display: none;
    }
    .mb-lg-20{
        margin-bottom: 20px;
    }
    .mb-lg-sm-20 {
        margin-bottom: 20px!important;
      }

}
@media only screen and (max-width: 767px) {
    .section-space   {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    h3{
        font-size: 1.5rem;
        line-height: 2.32rem;
    }
    .mb-lg-0-sm-40 {
        margin-bottom: 40px!important;
      }


}
@media only screen and (max-width: 570px) {
    .section-space   {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    h1{
        font-size: 2.5rem;
        line-height: 2.37rem;
    }
   
    .py-40{
        padding-right: 20px;
        padding-top: 20px;
    }

}

/*=======================================================================
[02] Hero Area Responsive Start Hear
=========================================================================*/

@media only screen and (max-width: 991px) {
    .hero .container .hero-content .row .hero-content-left .entry-content .entry-title .own-rounded::before {
        width: 174px;
        height: 53px;
        position: absolute;
        top: 11px;
        left: -35px;
    }
    .hero .container .hero-content .row .hero-content-right .hero-content-video {
        width: 100px;
        height: 100px;
        top: 30%;
        left: 40%;
    }
    .hero .container .hero-content .row .hero-content-left::before,
    .hero .container .hero-content .row .hero-content-right::after
    {
        opacity: 0;
    }
    .hero .container .hero-content .row .hero-content-left .entry-content .entry-sub-title br{
        display: none;
    }
    .hero .container .hero-content .row .hero-content-left .company .company-logo img{
        margin-right: 1rem;
    }
    .video-modal-content button{
        top: -26px !important;
        right: 0 !important;
    }
}
@media only screen and (max-width: 570px) {
    .hero .container .hero-content .row .hero-content-left .entry-content .entry-title .own-rounded::before {
        width: 134px;
        height: 33px;
        top: 11px;
        left: -25px;
    }
    .hero .container .hero-content .row .hero-content-left .company .company-logo img {
        margin-right: 0.5rem;
        margin-bottom: 0.8rem;
    }
}

/*=======================================================================
[02] About Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 570px) {
    .future-content .project-status .project-item:first-child{
        margin-right: 12px;
      }
      .future-content .project-status .project-item span{
        font-size: 34px;
        font-weight: 500;
        line-height: 48px;
        margin-right: .5rem;
      }
      .future-content .project-status .project-item small{
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
      }
}
/*=======================================================================
[02] About Area Responsive End Hear
=========================================================================*/
/*=======================================================================
[02] Latest projects Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 767px) {
    .future-content .gallery {
        grid-template-columns: repeat(2, 1fr);
      }
}
@media only screen and (max-width: 570px) {
    .future-content .gallery {
        grid-template-columns: repeat(1, 1fr);
      }
}
/*=======================================================================
[02] Latest projects Area Responsive End Hear
=========================================================================*/
/*=======================================================================
[02] ideas Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 991px) {
    .team::before{
       display: none;
      }
}
@media only screen and (max-width: 767px) {
    .ideas-content .future-content-video {
        bottom: 30%;
        right: 40%;
      }
    }
@media only screen and (max-width: 570px) {
    .future-contents .testimonial-content-text-area .entry-title::after{
        width: 90px;
      }
}
/*=======================================================================
[02] ideas Area Responsive End Hear
=========================================================================*/
/*=======================================================================
[02] Footer Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 991px) {
    .footer-right .footer-nav-menu { 
        grid-template-columns: repeat(3, 1fr);
     }
  }
@media only screen and (max-width: 767px) {
    .footer-right .footer-nav-menu { 
        grid-template-columns: repeat(2, 1fr);
     }
  }
@media only screen and (max-width: 570px) {
    .footer-right .footer-nav-menu { 
        grid-template-columns: repeat(2, 1fr); 
    }
  }
/*=======================================================================
[02] Footer Area Responsive End Hear
=========================================================================*/
@media only screen and (max-width: 1200px) {
    .main-menu-area nav ul li a{
      padding-right: 14px;
    }

}

@media only screen and (max-width: 991px) {
    #dropdown{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    #dropdown .dropdown-item{
        position: fixed;
        background: var(--white);
        height: 100vh;
        width: 50%;
        right: 0;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        margin-top: 50px;
        align-items: center;
        gap: 20px;
    }
    #dropdown .dropdown-item.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    #dropdown .dropdown-item li{
        opacity: 0;
    }
    #dropdown .dropdown-item li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    #dropdown .dropdown-item li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    #dropdown .dropdown-item li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    #dropdown .dropdown-item li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    #dropdown .dropdown-item li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    #dropdown .dropdown-item li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    #dropdown .dropdown-item li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    #dropdown .dropdown-item li.fade{
        opacity: 1;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        transition: all 0.7s ease;
        width:0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
  }

  @media only screen and (max-width: 570px) {
    #dropdown .dropdown-item{
        width: 100%;
      }

  }

  /*=======================================================================
[02] Home page Layout Two Area Responsive End Hear
=========================================================================*/
@media only screen and (max-width: 1200px) {
    .main-menu-area nav ul li a{
      padding-right: 14px;
    }
    .project-status{
        margin-bottom: 45px !important;
    }
    .project-status span{
        font-size: calc(1vw + 1.5rem) !important;
        line-height: calc(1vw + 1.5rem) !important;
    }

}
@media only screen and (max-width: 991px) {
    .right-content-text-box{
        flex-direction: column-reverse;
    }

    .div-one {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .future-content .content-text-area .entry-title::after{
        width: 120px;
    }
    .service-sign::after {
        width: 110px;
    }
    .portfolio-sign::after {
        width: 110px;
    }
    .team-content-text-area .entry-title .entry-title-border::after{
        width: 70px;
    }
    .price-content .entry-title::after{
        width: 60px;
    }

}



/*=======================================================================
[02] Services page Layout Area Responsive Start Hear
=========================================================================*/
@media only screen and (max-width: 1200px) {
    .side-content .side-item .side-list a{
        font-size: 24px;
        font-weight: 500;
        line-height: 12px;
        padding: 20px 0 10px 0;
    }
    .benefits-sign::after {
        width: 90px !important;
    }

}
@media only screen and (max-width: 991px) {
    .benefits-sign::after {
        width: 90px !important;
    }

}


/*=======================================================================
[02] Blog page Layout Area Responsive Start Hear
=========================================================================*/

  @media only screen and (max-width: 570px) {
    .recent-post-item{
        padding: 1rem;
    }
    .recent-post-item .recent-post-list .post-text p{
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
      }
      blockquote .blockquote-inner strong {
        font-size: 28px;
        line-height: 32px;
    }
    blockquote{
        padding: 24px;
      }
      blockquote .blockquote-inner {
        padding-left: 1rem;
      }
      blockquote::before{
        font-size: 50px;
      }

}
/*=======================================================================
[02] Blog page Layout Area Responsive Start Hear
=========================================================================*/

  @media only screen and (max-width: 991px) {
    .portfolio-details-about-aggo-border::after{
         width: 110px;
      }
      .help-content .entry-content .entry-title .shap::after.benefits-sign::after{
        width: 80px;
        height: 40px;
      }
      .inquiry-shap::after{
        width: 80px;
        height: 40px;
      }

}
/*=======================================================================
[02] Inquiry page Layout Area Responsive Start Hear
=========================================================================*/

  @media only screen and (max-width: 991px) {
    .inquiry-box {
        /* display: flex; */
        flex-direction: column-reverse;
    }
    .inquiry-box .inquiry-box-left,
    .inquiry-box .inquiry-box-right{
        flex-basis: 50%;
      }

}

  